.row{

    display: flex;
}
.dead{
    height: 50px;
    min-width: 50px;
    border: 1px solid black;
}
.alive{
    height: 50px;
    min-width: 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
}